@{
    ViewData["Title"] = "Home Page";
}
<div class="home-info">
    <p>
        El desayuno es la primera comida que se consume en el día. El nombre deriva del hecho de que uno no come mientras duerme, por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno).

    </p>

    <p>
        El desayuno es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo.
    </p>

    <p>
        Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado
    </p>
</div>

@section SideBar{
    <div class="side-home "> 
        <h2>Bienvenido!</h2>
        <img src="img/1.jpg" class="img-side"/>
        <img src="img/3.jpg"  class="img-side"/>
        <img src="img/4.jpg" class="img-side" />
    </div>


}